language: c

compiler:
  - clang

os:
  - linux
  - osx

addons:
  apt:
    packages: ninja-build
  homebrew:
    update: true
    packages: ninja

before_script:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then export PATH=/usr/local/opt/llvm/bin:$PATH ; fi
  - ./standalone/build.sh

script:
  - echo "Finished"
