language: c

compiler:
  - clang

os:
  - linux
  - osx

install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
    sudo apt-get install ninja-build ; fi

before_script:
  - ./standalone/build.sh

script:
  - echo "Finished"
